In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [8]:
# Name of the CSV file
file = 'indicators.csv'

In [9]:
df = pd.read_csv(file)

In [10]:
df.head()

,Unnamed: 0,pop_est_2017,pop_census_2010,pov_est_2017,pov_census_2010,viol_10,viol_11,viol_12,viol_13,viol_14,...,land_bank_num_16,land_bank_num_17,vacant_num_10,vacant_num_11,vacant_num_12,vacant_num_13,vacant_num_14,vacant_num_15,vacant_num_16,vacant_num_17
0,Bellaire-Puritas,14458,13365,25,21,116,91,91,81,102,...,144,144,284,282,278,284,283,284,284,260
1,Broadway-Slavic Village,19730,22432,43,35,463,410,490,501,381,...,1599,1723,905,844,797,832,878,757,717,654
2,Brooklyn Centre,9081,8954,37,29,133,158,150,171,179,...,81,83,102,104,106,120,119,117,119,102
3,Buckeye-Shaker Square,12351,12470,30,29,132,154,163,168,141,...,238,274,102,130,123,120,131,112,108,103
4,Buckeye-Woodhill,7445,6657,54,51,138,114,152,150,153,...,758,780,385,340,331,322,334,276,255,177